# MONGODB_URI: Local MongoDB Server connection string targeting smart_hostel database
MONGODB_URI="mongodb://127.0.0.1:27017/smart_hostel"

# JWT_SECRET: Secret key for signing JSON Web Tokens.
JWT_SECRET="gtu_smart_hostel_secret_key_2026_be_sem5"

# PORT: Port to run the application server on.
PORT="3000"


